{% extends "base_apps_v2.html.jinja" %}
{% block title %}Link{% endblock %}
{% block h1 %}Link{% endblock %}
{% block lead %}Useful external sites related to ciphers, analysis, and adjacent work.{% endblock %}
{% block input_area %}
        {% for section in link_sections %}
        <h5>{{ section["title"] }}</h5>
        {% for item in section["items"] %}
        <article class="large-width blue-grey9 elevate link-card">
            <a href="{{ item["url"] }}" target="_blank" rel="noopener noreferrer" class="link-card-head">
                <img class="circle medium link-card-icon" src="{{ item["icon"] }}" alt="">
                <h6 class="small-padding">{{ item["name"] }}</h6>
            </a>
            <p>{{ item["description"] }}</p>
        </article>
        {% endfor %}
        {% endfor %}

{% endblock %}
{% block standard_results_area %}
{% endblock %}
{% block vue_app_data %}
{% endblock %}
{% block vue_app_methods %}
{% endblock %}
