<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/beercss@3.0.8/dist/cdn/beer.min.css" rel="stylesheet">
        <link href="/static/css/style_v2.css" rel="stylesheet">
        <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.0.8/dist/cdn/beer.min.js"></script>
        <title>About</title>
    </head>
    <body class="dark">
        <main class="responsive small-margin">
            <div><a class="underline" href='{{BASEURL}}'>HOME</a> </div>
            <h1 class="center-align middle-align bold small">Crypto Brella</h1>
            <h4 class="center-align middle-align bold small">Cipher Toolbox</h4>
            <div class="padding center large-width">
                <p>CryptoBrella is a long-term personal project created by a3xgvo, with the following goals;</p>
                <p> - To provide readable and user-friendly web-based tools for various ciphers</p>
                <p> - To provide documentation, references, and efficient test cases</p>
                <p> - To provide attractive cipher challenges</p>
                <br>
                <p>The name CryptoBrella is inspired by the SplatBrella from the game Splatoon. It is a parasol-looking shotgun that I used to bring the most.</p>
                <p>The SplatBrella is an umbrella that splats inklings.</p>
                <p>CryptoBrella is not an umbrella, but it decrypts hidden things.</p>
                <p>OK, it does not really matter.</p>
                <br>
                <p>Regarding the cipher challenges, the <a href="https://www.cryptobrella.app/challenge/" class="link">original challenges</a> and the <a href="https://www.cryptobrella.app/passcode/" class="link">Ingress Passcode Challenge</a> are available. These challenges range from simple puzzles to more advanced and complex ciphers, catering to novice and experienced users.</p>
                <p>Regarding the cipher tools, over 50 ciphers and tools are available as of 2023/3/5. I am continuously working on adding more tools.</p>
                <p>The documentation part is outstanding...</p>
                <br>
                <p>CryptoBrella is a constantly evolving project, with new features and updates being added regularly.</p>
                <p>The changes will be applied without prior notice.</p>
                <br>

                <table class="border">
                    <tbody>
                        <tr><td>V1.0.0</td><td>2023/3/5</td>
                            <td class="large-width">The first version</td></tr>
                        <tr><td>V1.0.1</td><td>2023/3/14</td>
                            <td class="large-width">
                                Memo: Fixed bug.<br>
                                Rectangle ex: Fixed typo.</td></tr>
                        <tr><td>V1.1.0</td><td>2026/3/15</td>
                            <td class="large-width">
                                Removed what3words-related pages.<br>
                                Top page: Revised category grouping.<br>
                                Top page: Added in-page search.<br>
                                Added a dedicated 404 page.</td></tr>
                    </tbody>
                </table>
                <br>
       
            </div>
            

            <p class="center-align">Contact: a3xgvo 
                <a href="https://twitter.com/a3xgvo" target="_blank" class="link">Twitter</a> 
                <a href="https://a3xgvo-weblog.blogspot.com" target="_blank" class="link">Blog</a>
            </p>
        </main>
    </body>
</html>
