<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/beercss@3.0.8/dist/cdn/beer.min.css" rel="stylesheet">
        <link href="/static/css/style_v2.css" rel="stylesheet">
        <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.0.8/dist/cdn/beer.min.js"></script>

        <title>{{title}}</title>
    </head>
    <body class="dark bg_cryptodark">
        <main class="responsive">
            <div><a class="underline" href='../'>HOME</a> </div>
            <h1 class="center-align middle-align bold small">{{title}}</h1>
                <div class="cipher-docs large-text">
                    <article class="gray9 white-text round center large-padding">
                        {% if lang=='Ja' %}
                            <h4>暗号方式</h4>
                        {% elif lang=='En' %}
                            <h4>About the cipher</h4>  
                        {% endif %}
                        {% if about %}
                            {% for block in about %}
                                {% if block.type == 'paragraph' %}
                                    <p>{{ block.text }}</p>
                                {% elif block.type == 'pre' %}
                                    <pre class="cipher-docs-pre">{{ block.text }}</pre>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <p>No contents yet.</p>
                        {% endif %}
                    </article>
                    <article class="gray9 white-text round center large-padding">
                        {% if lang=='Ja' %}
                            <h4>使い方</h4>
                        {% elif lang=='En' %}
                            <h4>How to use the tool</h4>  
                        {% endif %}
                        {% if how_to_use_tool %}
                            {% for block in how_to_use_tool %}
                                {% if block.type == 'paragraph' %}
                                    <p>{{ block.text }}</p>
                                {% elif block.type == 'pre' %}
                                    <pre class="cipher-docs-pre">{{ block.text }}</pre>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <p>No contents yet.</p>
                        {% endif %}
                    </article>
                    <article class="gray9 white-text round center large-padding">
                        <h4>Test cases</h4>
                        {% if test_cases %}
                            {% for block in test_cases %}
                                {% if block.type == 'paragraph' %}
                                    <p>{{ block.text }}</p>
                                {% elif block.type == 'pre' %}
                                    <pre class="cipher-docs-pre">{{ block.text }}</pre>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <p>No contents yet.</p>
                        {% endif %}
                    </article>
                    <article class="gray9 white-text round center large-padding">
                        <h4>Can you decode?</h4>
                        {% if challenge %}
                            {% for block in challenge %}
                                {% if block.type == 'paragraph' %}
                                    <p>{{ block.text }}</p>
                                {% elif block.type == 'pre' %}
                                    <pre class="cipher-docs-pre">{{ block.text }}</pre>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <p>No contents yet.</p>
                        {% endif %}
                    </article>
                     <article class="gray9 white-text round center large-padding">
                        <h4>Link</h4>
                        {% if related_links %}
                            {% for link in related_links %}
                                <p><a href="{{ link.url }}" target="_blank" class="link">{{ link.label }}</a></p>
                            {% endfor %}
                        {% else %}
                            <p>No contents yet.</p>
                        {% endif %}
                    </article>
                </div>
        </main>
    </body>
</html>
